.container {
    margin-bottom: 50px;
}
.navbar{
    background-color: #e3f2fd;
    
}   
#navigation{
   width:100%;
}
.slides{
    background-color:#feeae9;
}
.cat1{
background-color:orange;
    background-image: linear-gradient(to right, golden , orange);
}
.cat2{
    background-color:#ff00c7;
}
.cat3{
    background-color:#3115ff;
}
.cat1 , .cat2 , .cat3{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius:20px;
}
.categories img{
    width: 100px;
}
.categories h1{
    color:white;
}
.buy-now-btn{
    background-color: #ff00c7;
    color:white;
    border:none;
    border-radius: 8px;
    cursor:pointer;
    padding : 9px 25px;
}
.card-footer{
    background-color:white;
    text-align:center;
    border:none;
}
.col{
    margin-bottom: 50px;
}
.card{
    border: none ;
    border-radius:10px;
    box-shadow: 3px 1px 10px;
}
#contact{
    height :300px;
    background-color:#feeae9;
}
footer .buy-now-btn{
    margin-top:10px;
}
footer h6{
    color:gray;
}